.alert {
  transition: background-color 1s ease;
  background-color: rgb(201, 201, 201);
}

.no-alert {
  transition: background-color 1s ease;
  background-color: rgb(250, 250, 250);
}

.flash-message {
  color: white !important;
  transition: color 0.5s ease;
  display: block !important;
}

.no-flash-message {
  color: rgb(110, 127, 128) !important;
  transition: color 0.5s ease;
}
